@font-face {
    font-family: 'Asap';
    src: url('Asap-SemiBold.woff2') format('woff2'),
        url('Asap-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Titan One';
    src: url('TitanOne.woff2') format('woff2'),
        url('TitanOne.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}