@font-face {
    font-family: 'Titan One';
    src: url('TitanOne.woff2') format('woff2'),
        url('TitanOne.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

